<div class="container">
	<div class="col-12">
		<div>
			<h2 class="sign-screen-title">Editar Paciente</h2>
			<br>
			<%= link_to 'Atras', hospital_paciente_path(hospital_id: @hospital.slug, id: @paciente.slug),
				class: "pull-right" %>
			<br>
			<%= render 'edit_form', paciente: @paciente, hospital: @hospital %>
		</div>
	</div>
</div>
