<div class="container">
	<div class="col-12">
		<div>
			<h2 class="sign-screen-title">Paciente Nuevo</h2>
			<br>
			<%= render 'form', paciente: @paciente, hospital: @hospital %>
		</div>
		<%= link_to 'Back', hospitals_index_path %>
	</div>
</div>
