<div class="container">
  <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%#= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%#= link_to 'Sign in', sign_in_path %>
      <% end %>

      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

  <section>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">MediNota</h1>
        <h3 class="lead">Una App para ingresar tus pacientes y poder compartir tu información.</h3>
        <p> Creada por:</p>
        <ul class="list-unstyled">
          <li>Dr. Fernando Alvarenga</li>
          <li>Ing. Jose Vega (Tu PAPA)</li>
        </ul>
      </div>
    </div>
  </section>
</div>

<%= render "shared/footer" %>
