<footer class="footer">
  <div class="container">
    <div class="row" style="align-items: center;">
      <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">
        <span class="text-muted"><i class="fa fa-hand-peace-o fa-2x text-secondary" aria-hidden="true"></i></span>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-6 text-center">
        <small>
          Hecha con <span><i class="fa fa-heart text-danger" aria-hidden="true"></i></span> en Honduras por <a href="https://jose-vega-resume.herokuapp.com" target="_blank">Jose V.</a>
        </small>
      </div>
      <div class="d-none d-sm-block col-sm-5 col-md-5 col-lg-3">
        <small class="text-muted pull-right">&copy; Derechos Reservardos <%= Date.today.year %></small>
      </div>
    </div>
  </div>
</footer>
