<div class="container">
  <div class="col-12">
      <h2 class="sign-screen-title">Cambio de Contraseña</h2>
      <p class="text-center">
        Para mandar un email con link para poder cambiar contraseña, ingresa tu correo.
      </p>
      <%= simple_form_for :password, url: passwords_path do |f| %>
          <div class="row">
              <div class="col-12 offset-sm-2 col-sm-8">
                  <%= f.input :email, type: 'email',label: false, placeholder: 'correo' %>
              </div>
          </div>

          <div class="row">
              <div class="offset-6 col-6 offset-sm-4 col-sm-6">
                  <%= f.button :submit, "Resetear",class: "btn btn-primary btn-block" %>
              </div>
          </div>
      <% end %>
  </div>
</div>
