<div class="container">
  <div class="col-12">
    <div>
      <h2 class="sign-up-title">Regístrate</h2>
      <br>
      <%= simple_form_for @user do |f| %>
        <%= render 'clearance/users/sign_up_form', f: f %>
      <% end %>
    </div>
  </div>
</div>
